@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
@theme {
  --color-primary: #1b1f2e;
  --color-secondary: #4bf0c5;
  --color-purple: #6c33d9;
  --color-bg: #1b1f2e;
  --color-text: #838694;
  --color-light-gray: #f7f7f9;
  --color-light-purple: #e3daf5;
}

@layer components {
  .heading-one {
    @apply xl:text-[50px] md:text-[42px] text-[30px] xl:leading-[55px] md:leading-11 leading-9 font-bold tracking-[-0.03em]  capitalize text-primary sm:mb-8 mb-6;
  }

  .heading-three {
    @apply md:text-4xl text-2xl font-bold md:leading-11 leading-8;
  }

  .heading-four {
    @apply sm:text-[26px] text-[22px] font-semibold text-primary;
  }
  .heading-five {
    @apply sm:text-2xl text-xl font-semibold text-secondary;
  }

  .heading-six {
    @apply sm:text-lg text-base font-medium sm:mb-5 mb-4;
  }

  .paragraph {
    @apply text-base text-text leading-[26px];
  }

  .card {
    @apply p-4 rounded-xl shadow-md bg-white;
  }
  .section-base {
    @apply 2xl:py-[120px] md:py-20 py-[60px];
  }
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  margin: 0 auto;
}

.sub-menu {
  transform: rotateX(-90deg);
}

hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.hero-swiper .swiper-pagination {
  left: 4% !important;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.hero-swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: white;
}
